{% extends 'base.html' %}

{% block body %}
<h1>Top Page</h1>
<a class="btn btn-info btn-lg m-5" href="create" role="button">Create</a>
{% for post in posts %}
<div class="card w-50 mb-3" style="width: 18rem;">
    <div class="card-body">
        {% if post.due.date() < today %}
        <div class="alert alert-primary" role="alert">
            期限切れです！
          </div>
        {% endif %}
        <h2 class="card-title">タイトル：{{post.title}}</h2>
        <p class="card-title">詳細：{{post.detail}}</p>
        <p>期間：{{post.due.date()}}</p>
        <a class="btn btn-secondary btn-sm" href="detail/{{post.id}}" role="button">Detail</a>
        <a class="btn btn-success btn-sm" href="delete/{{post.id}}" role="button">Delete</a>
        <a class="btn btn-danger btn-sm" href="update/{{post.id}}" role="button">Update</a>
    </div>
</div>
{% endfor %}
{% endblock %}

